@page
@model UploadFile1.Pages.UploadFile.UploadFileModel
@{
}


<h1>Upload Files Page</h1>
<br />

<div class="col-md-4">
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="StdFile" onchange="readURL(this)" accept="image/*" />
        </div>
        <br />

        <div>
            <label>@Html.DisplayNameFor(model=> model.StudFileRec.StudentName)</label>
            <input type="text" asp-for="StudFileRec.StudentName" class="form-control"/>
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />
<div>
    <img id="Img" src="" alt="User Picture" style="width: 200px;" />
</div>
